/* Global Declarations */
/* ------------------- */

:root {

    /* Colors */
    /* ------ */

    --main-bg-color   : #FFFFFF; /* white */
    --main-text-color : #003440; /* a shade of aegean-blue */
    --main-link-color : #619500; /* a shade of parrot-green */

    /* Fonts */
    /* ----- */

    --main-font        : "Computer Modern";
    --main-font-source : url( "../fonts/cm-unicode/fonts/otf/cmuntt.otf" );

}

/* Global Fonts */
/* ------------ */ 

@font-face {
  font-family : "Computer Modern";
  src         : url( "../fonts/cm-unicode/fonts/otf/cmuntt.otf" );
}
    /* 
        Information About the Fonts
        ---------------------------
	Name    : cm-unicode
        Source  : https://ctan.org/texarchive/fonts/cm-unicode.
        License : Open Font License (https://en.wikipedia.org/wiki/SIL_Open_Font_License)
    */


body {
    max-width        : 60%;
    margin           : 0 auto;
    padding          : 0 0%;
    margin-left      : 20%;
    font-family      : var( --main-font );
    font-size        : 10px/1.2;
    #color            : var( --main-text-color );
    #background       : var( --main-bg-color );
    text-align       : justify;
}

h1{
    line-height: 1.0
}
h2{
    line-height: 1.0
}
h3{
    line-height: 1.0
}
h4{
    line-height: 1.0
}

@media{
  a:link{color:var(--main-link-color); text-decoration: none;}
  a:link::selection{background: var(--main-text-color); color: var(--main-link-color);}
  a:visited::selection{background: var(--main-text-color); color: var(--main-link-color);}
  a:hover::selection{background: var(--main-link-color); color: var(--main-text-color);}
  a:visited{color:var(--main-link-color); text-decoration: none;} 
  a:hover{color:var(--main-text-color); text-decoration: none;} 
}


#horstyle{
    color : var(--main-link-color); 
}

.header-image {
  vertial-align : middle;
  width         : 100%;
  overflow-y    : hidden;
}
::selection {
  background:var(--main-link-color);
}
